<% unless @new_vendor.errors.empty? %>
	$('section.nav').html('<div class="alert alert-error">Error: El proveedor ya existe</div>').fadeIn();
	$('section.nav div.alert.alert-error').delay(10000).fadeOut();
<% else %>
	$("#vendor_text").val('<%= "#{@new_vendor.entity.name} #{@new_vendor.entity.surname}" %>');
	$("#purchase_order_vendor_id").val('<%= @new_vendor.id %>');
	$('section.nav').html('<div class="notice">Proveedor creado correctamente</div>').fadeIn();
	$('section.nav div.notice').delay(10000).fadeOut();
<% end %>
$(".closeVendor").trigger("click");