$('#invoices').html("<%= escape_javascript(render(:partial => 'invoices')) %>");
var search = "<%= escape_javascript(params[:search]) %>"
$('table.table_invoices tbody tr td:contains("'+search+'")').filter(function(){
  this.innerHTML = this.innerHTML.replace(
    search,"<b><span class='text-success'>" + search + "</span></b>");
}); 
$(".pagination").addClass("pag");