<li>
<div class="input-append">
  <%= hidden_field "product_application_name", nil, :value => @product_application.product_id %>
  <%= hidden_field "product_application_id", nil, :value => @product_application.id %>
  <%= text_field_tag "product_application[name]",nil, :value => @product_application.name,  :class => 'btn', :readonly => true %>
 	<%= link_to '<i class="icon-remove"></i>'.html_safe,		
    product_application_path(@product_application.id),

    :method => :delete,
    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
    :remote => true,
    :class => 'btn' %>
</div>
</li>