<%- model_class = Quotation -%>
<div class="page-header">
  <legend><%=t '.title', 
  	:default => t('helpers.titles.new', :model => model_class.model_name.human,
    :default => "New #{model_class.model_name.human}") %></legend>
</div>
<%= render :partial => 'form' %>
