<ul class="thumbnails">
  <li class="span2">
    <div class="thumbnail">
      <a href=<%=purchase_orders_path %> class='btn btn-success btn-success btn-block'>
          
          <%= I18n.t('.activerecord.models.purchase_order') %>
      </a>
    </div>
  </li>
    
  <li class="span2">
    <div class="thumbnail">
      <a href=<%= search_products_path %> class='btn btn-success btn-block'>
        Buscar Productos         
      </a>
    </div>
  </li>
</ul>
