<div class="page-heading">
	<h1>Panel de Control</h1>
</div>
<input type="hidden" id="get_main_calendar_payrolls_path" value="<%= get_main_calendar_payrolls_path %>">
<div class="container-fluid">

	<div data-widget-group="group1">

		<div class="row">
			
			<div id="section-body" class="tabbable">
				<ul class="nav nav-tabs">
					<li class="active">
						<a href="#payroll" id="payroll_tab">Planillas</a>
					</li>
				</ul>
				<div class="tab-content">
					<div id="payroll_tab" class="tab-pane active">
						<%= render :template => 'payrolls/index'  %>
					</div>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-6">
				<div class="col-md-12">
					<div class="panel panel-default" data-widget='' id="panel_calendario">
						<div class="panel-heading">
							<h2>Calendario</h2>
							<div class="panel-ctrls button-icon-bg"
								data-actions-container=""
								data-action-collapse='{"target": ".panel-body"}'
								data-action-expand=''
								data-action-colorpicker=''
								data-action-edit=''
								data-action-close=''>
								<div id="checkbox_calendar">
									Mostrar Fechas de Planilla: 
									<label class="checkbox-inline icheck">
										<input type="checkbox" id="check_start" value="start" checked> Inicio
									</label>
									<label class="checkbox-inline icheck">
										<input type="checkbox" id="check_end" value="end" checked> Final
									</label>
									<label class="checkbox-inline icheck">
										<input type="checkbox" id="check_payment" value="payment" checked> Pago
									</label>
								</div>
							</div>
						</div>
						<div class="panel-editbox" data-widget-controls=""></div>
						<div class="panel-body">
							<div id="calendar-drag"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<%= javascript_include_tag 'calendar/main_calendar' %>
