##You should create a file like this one named constants.yml to keep your 
##constants and configuration values.
development:
  invoice: invoice #Document Number Type
  purchase: purchase
  purchase_order: purchase_order
  quotation: quotation
  input: input
  output:	output

test: &test
  invoice: invoice #Document Number Type
  purchase: purchase
  purchase_order: purchase_order
  quotation: quotation

production:
  invoice: invoice #Document Number Type
  purchase: purchase
  purchase_order: purchase_order
  quotation: quotation
