.a-not-active {
	cursor: not-allowed;
	color: black!important;
}

.a-not-active > * {
    pointer-events:none;
}

.last-sync-msg {
	text-align: right;
}

.last-sync-msg label {
	font-weight: bold;	
}

.beneficiary-check label {
	/*display: inline-block;*/
}

.beneficiary-check .checkbox.icheck {
	/*display: inline-block;*/
}

.individual-check .beneficiary-check {	
	width: 100%;
}

.individual-check label {
	width: 92%;
}

.individual-check .col-sm-3 {
	padding-right: 0px;
    width: 8%;
}

.beneficiary-check label {
	width: 92%;
}

.beneficiary-check .col-sm-3 {
	padding-right: 0px;
    width: 8%;
}

.percentage {
	font-size: 16px;
    padding-top: 4px;
}

.percentage-col {
	padding-left: 0;
}

.align-top {
	vertical-align: text-top !important;
}

.custom-multiselect {
	margin-top: -43.7px !important;
}
.custom-multiselect-empty {
	margin-top: 0px !important;
}
