<%- model_class = Taxis -%>
<div id="section-body" class="tabbable">
	<ul class="nav nav-tabs">
		<li class="active">
			<a data-toggle="tab" href="#tab1">
				<%=t '.title', :default => model_class.model_name.human.pluralize %>
			</a>
		</li>
	</ul>
	<div class="tab-content">
		<div class="row-fluid">
			<div id="accordion1" class="accordion">
				<div class="accordion-group">
					<div class="accordion-heading">
						<a class="accordion-toggle" data-original-title="" href="#taxes_new" data-toggle="collapse">
							<i class="icon-list-alt icon-white"></i>
							<span class="divider-vertical"></span>
							<%=t '.title', :default => t('helpers.titles.new', :model => model_class.model_name.human, :default => "New #{model_class.model_name.human}") %>
							<i class="icon-chevron-down icon-white pull-right"></i>
						</a>
					</div>
					<div id="taxes_new" class="accordion-body in collapse" style="height: auto;">
						<div class="accordion-inner paddind">
							<%= render :partial => 'form' %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>