<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @means_of_payment.description %>
</p>


<%= link_to 'Edit', edit_means_of_payment_path(@means_of_payment) %> |
<%= link_to 'Back', means_of_payments_path %>
