#copy_permissions_checkbox {
  position: relative;
  bottom: 20px;
  color: #b6b6b6;
} 

#user_permissions_search {
  bottom: 20px;
  
  span {
    font-size: 20px;
    color: #b6b6b6;
  }
  
  .form-group {
    position: relative;
    left: 50px;
  }
  
}
