<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @other_payment.description %>
</p>


<%= link_to 'Edit', edit_other_payment_path(@other_payment) %> |
<%= link_to 'Back', other_payments_path %>
