<!-- C O M P A N Y -->
<div class="row">
	<div class="col-xs-12">
	  <div class="panel panel-default">
			<div class="panel-heading"><h2>Compañia</h2></div>
			<div class="panel-body">
				<div class="row">
					<div class="col-md-3">
						<div class="form-group">
							<% c = @companies.empty? ? "No existen compañias todavía" : "Por favor selecciona" %>
							<%= select_tag("company", options_for_select(@companies.map { |c| [c.name, c.id] }), { :prompt => c, :class => 'form-control' }) %>

							<% select("company", "id", @companies.collect {|p| [ p.name, p.id ] }, { include_blank: c }) %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- C O M P A N Y -->
