<h1>Comprobante General de Pago</h1>
<%= render "search" %>
<%= javascript_include_tag 'reports/general_payroll' %>

<div id="message" style="height:40px;"></div>
<input type="hidden" id="show_reports_path" value="<%= reports_path %>">
<input type="hidden" id="type_report" value="<%= CONSTANTS[:REPORTS][0]['GENERAL_PAYROLL'] %>">
<button id="btn_create_pdf">Crear archivo PDF</button>
<p></p>
<button id="btn_create_excel">Exportar a Excel</button>