<a class="brand" href= <%= root_path %>>
	REASA
</a>
<ul class="nav pull-left">
	<li class="divider-vertical"></li>
	<li>
		<div class="navbar-search pull-left">
			<input id="global_date" type="text" data-date-format="mm/dd/yyyy" class="datepicker search-query input-small">
		</div>		
	</li>
</ul>