<div id="div-message" class="alert alert-dismissable alert-success" style="display:none;">

	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>

	<h3><b><i class="fa fa-fw"></i><label>title</label></b></h3>

	<p id="message">
		<label>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores in eveniet sapiente error fuga tenetur ex ea dignissimos voluptas ab molestiae eos totam quo dolorem maxime illo neque quia itaque.</label></p>
</div>

<%= render "/layouts/messages" unless flash.empty? %>
