<form id="normal-search" class="form-search" action=<%= search_products_path %> method="post">
	<input type="hidden" value="normal" name="query">
	<div class="control-group">
		<div class="controls">
			<input id="search" class="search-query" type="text" placeholder="Productos" name="search">
		</div>
	</div>
</form>
<form id="advance-search" class="form-search" action=<%= search_products_path %> method="post">
	<input type="hidden" value="advance" name="query">
	<div class="control-group">
		<div class="controls">
			<input id="code" class="search-query" type="text" placeholder="Código" name="code">
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
			<input id="name" class="search-query" type="text" placeholder="Nombre" name="name">
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
			<input id="applications" class="search-query" type="text" placeholder="Aplicaciones" name="applications">
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
			<input id="part_number" class="search-query" type="text" placeholder="Número de parte" name="part_number">
		</div>
	</div>
</form>